<?xml version="1.0" encoding="UTF-8"?>
<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-heading">
          <h2>Ethereum Capabilities</h2>
          <p class="text-muted">There are a multitude of use cases possible with blockchain technologies</p>
          <hr>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="/img/demo-screen-1.jpg" class="img-responsive" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="feature-item">
                    <i class="icon-screen-smartphone text-primary">
                    </i>
                    <h3>High risk high reward savings</h3>
                    <p class="text-muted">Park away a small portion of your net savings into the Ethereum network</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-item">
                    <i class="icon-camera text-primary">
                    </i>
                    <h3>Smart Contracts</h3>
                    <p class="text-muted">Discover game changing use cases of blockchain technology</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="feature-item">
                    <i class="icon-present text-primary">
                    </i>
                    <h3>Free to Use</h3>
                    <p class="text-muted">Anyone can quickly get started in setting up their own personal crypto wallet</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="feature-item">
                    <i class="icon-lock-open text-primary">
                    </i>
                    <h3>Open Source</h3>
                    <p class="text-muted">Those interested in taking a deeper look into the inner workings of Ethereum can explore its source</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <h3>Hosted services backed by AWS - The world leading provider of Cloud technologies.</h3>
            <a target="_blank" href="https://m.do.co/c/a29d90274371" style="color:black" class="btn btn-outline btn-xl">Amazon Web Services</a>
          </div>
        </div>
      </section>
